body {
    background: white;
    color: black;
}

.MuiSvgIcon-root {
    border-color: white;
    color: white;
}

.sc-hHLeRK {
    border-right: 0.5px grey solid
}

.sc-hHLeRK:last-child {
    border-right: none;
}